Cython
matplotlib
numpy
pandas
pandas_plink
pycasso
scikit_learn
scipy
seaborn
setuptools
sliced
statsmodels
Sphinx
sphinx_rtd_theme
hachibee_sphinx_theme
nbsphinx
ipython
numpydoc
sphinx_theme_pd
sphinx_autodoc_typehints
furo